<div class="container" style="margin-top: 20px">
  <h2 style="margin-bottom: 25px">{{ data.title }}</h2>
<table class="table" style="margin-bottom: 100px;">
  <tbody>
    <tr>
      <th scope="row">Autores: </th>
      <td>{{ data.creator }}</td>
    </tr>
    <tr>
      <th scope="row">Assunto: </th>
      <td >
        <ul>
          <li *ngFor="let data of data.subject">{{ data }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Descrição</th>
<td>{{ data.description}}</td>
    </tr>
    <tr>
      <th scope="row">Data publicada:</th>
      <td>{{ data.date }}</td>
    </tr>
    <tr>
      <th scope="row">Repositório:</th>
      <td>{{ data.repNome}}</td>
    </tr>
    <tr>
      <th scope="row">Idioma:</th>
      <td>{{data.language}}</td>
    </tr>
<tr>
  <th scope="row">Página Download:</th>
<td>
  <a href="{{data.identifier}}">{{data.identifier}}</a>
</td>
</tr>
  </tbody>
</table>
</div>
