
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <br>
        <li class="active"><a href="#section1">Teses</a></li>
      </ul><br>
      <div class="input-group">
        <input ng-model="searchText">
<button type="button" class="btn btn-default" (click)="getTeses()">Pesquisar</button>
        <input type="text" class="form-control" placeholder="Pesquisa por atributo..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div><!-- fecha input -->
    </div><!-- fecha col-sm-2 sidenav -->

  <div class="col-sm-10">
      <div class="container">
        <h2>Teses de Mestrado</h2>
          <h3></h3>
          <br>
            <table class="table">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Criadores</th>
                    <th>Repositorio</th>
                    <th>Data</th>
                    <th>Informações</th>
                  </tr>
                </thead>
                <tbody *ngFor="let tese of pagedItems">
                    <tr [ngClass]="{'success': tese.repNome == 'IPCA', 'info': tese.repNome =='UMINHO'}">

                      <td>{{tese.creator}}</td>
                      <td>{{tese.title}}</td>
                      <td>{{tese.repNome}}</td>
                      <td>{{tese.date}}</td>
                      <td><button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span> Ver mais + </button>
                      </td>
                    </tr>
                </tbody>
            </table>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
              </li>
            </ul>
        </div><!-- fecha container -->
    </div><!-- fecha col-sm-10 -->
  </div><!-- fecha row content -->

</div><!-- fecha container-fluid  -->


<script>

</script>
